@media screen and (min-width: 1000px) {
    .mobile-icon-container{
        display:none !important;
    }
}
.contatti-grid{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin:3%;
}
.contatti-grid i{
	color:white;
	font-size:25px;
}
.sticky{
	position: fixed;
    right: 0;
		left:0;
	bottom:0;
    z-index: 999999999999999 !important;
}
.no-sticky{
	position:relative !important;
	z-index:0 !important;
}